<!DOCTYPE html>
<html ng-app=zirveApp>
<head>
	<title>Zirveyiz Biz Demo</title>

	<!-- Mobile viewport optimized -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<script type="text/javascript" src="lib/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular-translate/angular-translate.min.js"></script>
	<script type="text/javascript" src="lib/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

	<!-- A fast & lightweight polyfill for min/max-width CSS3 Media Queries (for IE 6-8, and more) -->
	<script type="text/javascript" src="lib/bower_components/respond/src/respond.js"></script>

	
	<script type="text/javascript" src="js/controllers.js"></script>
	<script type="text/javascript" src="js/app.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>	
	
	<!--<link rel="stylesheet" href="css/default-style.css">-->

		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

</head>
<body>
<div class="container" id="main">
	<header class="row">

	<!--
		<div class="navbar navbar-fixed-top">
			<a class="navbar-brand" href="/" alt="Logo of Zirve A.S."></a>
			<div class="container">
				--><img src="images/zirve-logo_66-x-74.png"/>
				<!--<div class="nav-collapse collapse navbar-responsive-collapse">
				<	<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Home</a>
						</li>
					</ul>
				</div>
			</div>

		</div>
		-->

		<!--<input type="text" ng-model="name">
		<p>{{name}}</p>
		<div id="tools">
			<div ng-controller="TranslateController">
				<ul>
				<li>
				  <a ng-click="changeLanguage('tr')" translate="BTN_TRANSLATE_TEXT_TR"></a>
				  <a ng-click="changeLanguage('en')" translate="BTN_TRANSLATE_TEXT_ENG"></a>
				</li>
				</ul>
			</div>
		</div>	
		
		-->
		Home	
		<div class="carousel slide" id="carousel"></div>
	</header>

	<div ng-controller="NavigationController"><div ng-navigation></div>
	<main ng-view></main>

	<h1>{{name}}</h1>
	<input ng-model="name" placeholder="Enter your name">
	<ul class="artist clear"></ul>

</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="lib/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

